In [71]:
import pandas as pd
import numpy as np
from pymongo import MongoClient
from sqlalchemy import create_engine

In [83]:
# engine postgres
DATABASE_URL = 'postgres://vuncmjlkhnmans:610ac2b5df61bcd4aed66992647b94f98b0fbb4b677f4f721f09b244482d718a@ec2-54-204-41-109.compute-1.amazonaws.com:5432/d8vgn7vtrufr72'
engine = create_engine(DATABASE_URL)

# get full combats history

In [2]:
combats = pd.read_csv('csv/combats.csv')

In [5]:
# add loser column to combats
loser = []
for index, row in combats.iterrows():
    first = row[0]
    second = row[1]
    win = row[2]
    
    if(first == win):
        lose = second 
    else: 
        lose = first
    loser.append({'loser': lose})

combats_full = combats.join(pd.DataFrame(loser))

In [7]:
# generate battle instance
def get_battle_instance(pok_1, pok_2):
    pok_container = [np.int(pok_1), np.int(pok_2)]
    pok_container.sort()
    battle = str(pok_container[0]) + 'vs' + str(pok_container[1])
    
    return battle

In [9]:
# add battle instance column to combats
bat_instance = []
for index, row in combats_full.iterrows():
    battle = get_battle_instance(row['First_pokemon'], row['Second_pokemon'])    
    bat_instance.append(battle)
    
combats_full['bat_instance'] = bat_instance

In [13]:
# get win_rate data 
bat_inst_num = combats_full.bat_instance.value_counts().to_frame().reset_index()
bat_inst_num = bat_inst_num.rename(columns={'index': 'bat_instance', 'bat_instance': 'instance_num'})

In [17]:
# merge combats_full with bat_inst_num to get the final full df
combats_full = combats_full.merge(bat_inst_num, on='bat_instance', how='left')

In [19]:
# battle history win rate def
def get_win_rate(battle_time, combats_df):
    winner_out_list = []
    combat_len = len(combats_df)
    for i in range(int(combat_len / battle_time)):
        # select 'battle_time' rows every time
        start_row = i * battle_time
        df = combats_df.iloc[start_row: start_row + battle_time]
        bt_ins = df.iloc[0]['bat_instance']
        winner = df.Winner.value_counts()
        if len(winner) == 1:
            winner_out = {'bat_instance': bt_ins, 'Winner': winner.index[0], 'win_rate': 100, 'battle_time': battle_time}
            winner_out_list.append(winner_out)
        else:
            win = winner.idxmax()
            win_rate = np.round(winner.max() / battle_time * 100, decimals=2)
            winner_out_list.append({'bat_instance': bt_ins, 'Winner': win, 'win_rate': win_rate, 'battle_time': battle_time})
    
    return winner_out_list

In [24]:
combats_4 = combats_full.loc[combats_full.instance_num == 4].sort_values(by='bat_instance')
combats_4_history = get_win_rate(4, combats_4)

In [25]:
combats_3 = combats_full.loc[combats_full.instance_num == 3].sort_values(by='bat_instance')
combats_3_history = get_win_rate(3, combats_3)

In [26]:
combats_2 = combats_full.loc[combats_full.instance_num == 2].sort_values(by='bat_instance')
combats_2_history = get_win_rate(2, combats_2)

In [27]:
combats_1 = combats_full.loc[combats_full.instance_num == 1].sort_values(by='bat_instance')
combats_1_history = get_win_rate(1, combats_1)

In [28]:
combats_4_history.extend(combats_3_history)
combats_4_history.extend(combats_2_history)
combats_4_history.extend(combats_1_history)

In [29]:
combats_history = pd.DataFrame(combats_4_history)

In [37]:
combats_history.head()

   Winner bat_instance  battle_time  win_rate
0     143     143vs459            4     100.0
1     207     207vs224            4      75.0
2     619     334vs619            4     100.0
3     776     334vs776            4     100.0
4     455     455vs531            4      75.0

In [73]:
# save combats_history to postgreSQL
combats_history.to_sql("combats_history", con=engine)

# get pokemon battle win_rate data

In [38]:
# get each pokemon win battle number
winner = combats.groupby('Winner').count().reset_index()
winner = winner.drop(columns=['Second_pokemon']).rename(columns={'Winner': 'pokemon_id', 'First_pokemon': 'win_battle'})

In [42]:
# get each pokemon lose battle number
lost_df = combats_full.groupby('loser').count().reset_index().drop(columns=['Second_pokemon', 'First_pokemon']).rename(columns={'loser': 'pokemon_id', 'Winner': 'lose_battle'})
lost_df = lost_df.drop(columns=['bat_instance', 'instance_num'])

In [48]:
# merge win and lost battle data by pokemon_id
pokemon_battle = lost_df.merge(winner, on='pokemon_id', how='outer')

In [49]:
# get total battle each pokemon has
pokemon_battle['battle_num'] = pokemon_battle.lose_battle + pokemon_battle.win_battle
# get the win_rate of each pokemon
pokemon_battle['win_rate'] = np.round(pokemon_battle.win_battle / pokemon_battle.battle_num * 100, decimals=2)

In [84]:
# save pokemon battle data to postgreSQL
pokemon_battle_clear = pokemon_battle.dropna()
pokemon_battle_clear.to_sql('pokemon_battle', con=engine, if_exists='replace')

In [57]:
# import pokemon data
pokemon_d = pd.read_csv('csv/pokemon.csv')
pokemon_d = pokemon_d.rename(columns={'#': 'pokemon_id'})

In [86]:
pokemon_full = pokemon_battle_clear.merge(pokemon_d, on='pokemon_id', how='left')
pokemon_data = pokemon_full.drop(columns=['lose_battle', 'win_battle', 'battle_num', 'win_rate'])

In [89]:
pokemon_battle_clear.head()

   pokemon_id  lose_battle  win_battle  battle_num  win_rate
0           1           96        37.0       133.0     27.82
1           2           75        46.0       121.0     38.02
2           3           43        89.0       132.0     67.42
3           4           55        70.0       125.0     56.00
4           5           57        55.0       112.0     49.11

# battle history time VS win rate probablity

In [66]:
win_rate = combats_history.groupby('battle_time').win_rate.value_counts().to_frame().rename(columns={'win_rate': 'win_num'})

In [67]:
win_per = [
    100, 
    win_rate.loc[(2, 100)].win_num / (win_rate.loc[(2, 100)].win_num + win_rate.loc[(2, 50)].win_num) * 100,
    win_rate.loc[(2, 50)].win_num / (win_rate.loc[(2, 100)].win_num + win_rate.loc[(2, 50)].win_num) * 100,
    win_rate.loc[(3, 100)].win_num / (win_rate.loc[(3, 100)].win_num + win_rate.loc[(3, 66.67)].win_num) * 100,
    win_rate.loc[(3, 66.67)].win_num / (win_rate.loc[(3, 100)].win_num + win_rate.loc[(3, 66.67)].win_num) * 100,
    win_rate.loc[(4, 100)].win_num / (win_rate.loc[(4, 100)].win_num + win_rate.loc[(4, 75)].win_num) * 100,
    win_rate.loc[(4, 75)].win_num / (win_rate.loc[(4, 100)].win_num + win_rate.loc[(4, 75)].win_num) * 100,
]

In [68]:
win_rate['per'] = np.round(win_per, decimals=2)

In [69]:
win_rate

                      win_num     per
battle_time win_rate
1           100.00      42653  100.00
2           100.00       3280   97.04
            50.00         100    2.96
3           100.00        178   96.22
            66.67           7    3.78
4           100.00          5   62.50
            75.00           3   37.50