In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pymongo import MongoClient
import requests

In [2]:
# connect to mongo db
client = MongoClient('mongodb://localhost:27017/')
db = client.pokemon_db

In [3]:
# get move data collection
col_data = db['pokemon_data']
data_base = pd.DataFrame(list(col_data.find()))

In [4]:
stat_data = data_base[['stats', 'name']]

In [5]:
stat_list = []
for row in stat_data.iterrows():
    stat_data = row[1]['stats']
   
    stat_dict = {}
    stat_dict['name'] = row[1]['name']
    for stat in stat_data:
        stat_dict[stat['stat']['name']] = stat['base_stat']
    
    stat_list.append(stat_dict)
# save to stat_df
stat_df = pd.DataFrame(stat_list)

In [6]:
stat_df['avg_stat'] = np.round((stat_df.attack + stat_df.defense + stat_df.speed + stat_df['special-attack'] + stat_df['special-defense'] + stat_df.hp) / 6, decimals=2)

In [7]:
stat_df.describe()

,attack,defense,hp,special-attack,special-defense,speed,avg_stat
count,964.000000,964.000000,964.000000,964.000000,964.000000,964.000000,964.000000
mean,79.784232,74.243776,68.961618,73.038382,72.382780,69.304979,72.952407
std,32.087256,30.994618,25.831501,32.903610,27.670134,29.402007,19.815008
min,5.000000,5.000000,1.000000,10.000000,20.000000,5.000000,29.170000
25%,55.000000,50.000000,50.000000,50.000000,50.000000,45.000000,55.000000
50%,75.000000,70.000000,65.000000,65.000000,70.000000,65.000000,75.830000
75%,100.000000,90.000000,80.000000,95.000000,90.000000,90.000000,85.830000
max,190.000000,230.000000,255.000000,194.000000,230.000000,180.000000,130.000000

# get stat affecting move data